@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap');
body#body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(bg.jpg);
  background-size: cover;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  margin-left: 85px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 15px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
input#name,#email,#password{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
button#submit{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.logout{
    width: 100%;
    background:none;
    border: 2px solid #4caf50;
    border-radius: 6px;
    font-family: 'Azeret Mono', monospace;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0; 
    box-shadow: inset 0 0 0 0 #4caf50;
    transition: ease-out 0.3s;
    outline: none;
}

.logout:hover {
    border: red;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Azeret Mono', monospace;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0; 
    box-shadow: inset 0 0 0 0 #4caf50;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}